.jumbotron {
  vertical-align: middle;
  height: 400px;
  background-image: url("jumbo_img.jpg");
  background-size: cover;
  background-position: center;
  display: block;

}

a.navbar-brand {
  color: black;
}

ul.nav.navbar {
  align-content: left;
  justify-content: left;
  display: flex;
}


li.nav-item {
  padding: 10px;
  font-size: 1.5rem;
  justify-content: left;
}

.jumbo-text {
  color: red;
  text-align: center;
  vertical-align: middle;
}

.jumbo-content {
    position: absolute;
    left: 50%;
    top: 50%;
    bottom: auto;
    right: auto;
    -webkit-transform: translateX(-50%) translateY(-50%);
    -moz-transform: translateX(-50%) translateY(-50%);
    -ms-transform: translateX(-50%) translateY(-50%);
    -o-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    text-align: center;
    width: 100%;
    text-shadow: 0 1px 3px rgba(255, 255, 255, 0.856);
    border: black solid 2px;
}

.col-sm-4 {
  margin: 25px 20px 15px;
  min-width: 60px;
  padding: 7px;
  border: black, 10px, solid
}

button.col-sm-4 {
  background-color: white;
  border: black solid 2px;
  color: white;
  text-align: center;
}

a.cat-link{
  display: block;
}

a.cat-link:hover{
  text-shadow: 0 3px 9px rgba(78, 87, 87, 0.856);
}

div.row {
  align-content: center;
}

section.container .row {
  align-items: center;
  justify-content: center;
}

h3.cat-head {
  justify-content: center;
  text-align: center;
}

h3.cat-head:hover{
  color: red;
}

a {
  color: black;
  text-shadow: 0 1px 3px rgba(176, 246, 255, 0.856);
}

a:hover {
  text-shadow: 0 6px 15px rgba(35, 39, 39, 0.856);
  color: black;
}

.container-fluid {
  justify-content: center;
  align-content: center;
  align-items: center;
  text-align: center;
}

a.btn.btn-info{
  padding: 2px;
}

