{% extends "index.html" %}
{% block content %}
  
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 1rem;">
          <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
  {% endwith %}

    <section class="container">
        <h3 class = 'cat-head'>Categories</h3>
        {% if categories %}
            <div class="row">
                {% for c in categories %}
                    <button class="col-sm-4">
                      <a class= cat-link href ="{{url_for('item.show_items', category_name=c.name)}}">{{c.name}}</a>
                    </button>

                {% endfor %}
            </div>
        {% endif %}
            


{% endblock %}