{% block content %}
{% include "partials/navbar.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
            <h1>Delete Item</h1>
                <h2>Do you really want to delete {{item.style}}?</h2>
                <form class= "delete-cancel" action="#" method = 'post'>
                        <button type="submit" class="btn btn-info" id="submit" type="submit">
                        <span aria-hidden="true"></span>Delete</button>
                        <a href = "{{url_for('item.show_item', category_name=category.name, item_style=item.style)}}">
                            <button class="btn btn-info">
                            <span aria-hidden="true"></span> Cancel</button>
                        </a>
                    </form>
                </div>
            </div>
        </div>
{% endblock %}