{% block content %}
{% include "partials/navbar.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Edit Item</h2>
			<form action="#" method = "post">
				<div class="form-group">
					<label for="style">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="style" value="">
					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description"></textarea>
				</div>
				<br>
				<button type="submit" class="btn btn-info" id="submit" type="submit">
				<span aria-hidden="true"></span>Save</button>
				<a class= "btn btn-default" href = "{{url_for('category.show_categories')}}">Cancel</a>
			</form>
		</div>
	</div>
</div>
{% endblock %}