{% include 'partials/head.html' %}
{% include 'partials/navbar.html' %}

{% block content %}

<div>
    <h1 class = 'cat-head'>
        {{item.style}}
    </h1>
</div>
<div>
    <p class = 'item-desc'>{{item.description}}</p>
</div>
<div>
    <a class = "btn-group" href="{{url_for('item.edit_item', category_name = category.name, item_style = item.style)}}">Edit</a>
    <a  class = "btn-group" href="{{url_for('item.delete_item', category_name = category.name, item_style = item.style)}}">Delete</a>
</div>

{% endblock %}
{% include 'partials/footer.html' %}