
{% block content %}
{% include "partials/head.html" %}
{% include "partials/navbar.html" %}

<div class="container">
	<div class="row">
		<div class="col-md-12">
			<h2>Create New Item</h2>
			{% with messages = get_flashed_messages() %}
			{% if messages %}
			  {% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 1rem;">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				  {{ message }}
				</div>
			  {% endfor %}
			{% endif %}
		  {% endwith %}
			<form action="#" method = "post">
				<div class="form-group">
					<label for="style">Name:</label>
					<input type ="text" maxlength="100" class="form-control" name="style" value="">

					<label for="description">Description:</label>
					<textarea class="form-control" maxlength="250" rows="3" name="description"></textarea>

					</div>
					<br>
					<button type="submit" class="btn btn-info" id="submit" type="submit">
					<span  aria-hidden="true"></span>Save</button>
					<a  class= "btn btn-default" href = "{{url_for('category.show_categories')}}">Cancel</a>
		</div>
			</form>
			
	</div>
</div>

{% endblock %}