{% extends "index.html" %}
{% block content %} 

<section class="container">
        <h3 class = 'cat-head'>{{category.name}}</h3>
        {% with messages = get_flashed_messages() %}
			{% if messages %}
			  {% for message in messages %}
				<div class="alert alert-warning alert-dismissible fade show" role="alert" style="margin-top: 1rem;">
				  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
					<span aria-hidden="true">&times;</span>
				  </button>
				  {{ message }}
				</div>
				{% endfor %}
			  {% endif %}
			{% endwith %}
            <div class="row">
                {% for i in items %}
                    <button class="col-sm-4">
                      <a class= cat-link href ="{{url_for('item.show_item', category_name=i.category.name, item_style=i.style)}}">{{i.style}}</a>
                    </button>
                {% endfor %}
            </div>
        <span>
            <a href="{{url_for('item.new_item', category_name = category.name)}}" class="btn btn-info" role="button">Add New Item</a>
        </span>
</section> 
{% endblock %}