
{% extends "index.html" %}
{% block content %}

    <h1 class = 'cat-head'>
        {{category.name}}
        <a href="{{url_for('item.new_item', category_name = category.name)}}" class="btn btn-info" role="button">Add New Item</a>
    </h1>
    <div>
    {%for i in items%}
        <ul>
            <li class = "col-sm-4"><a href="{{url_for('item.show_item', category_name=i.category.name, item_style=i.style)}}">{{i.style}}</a></li>

             
        </ul>
    </div>
    {% endfor %}
{% endblock %}